[submodule "dependencies/constellation"]
	path = dependencies/constellation
	url = https://github.com/jpmorganchase/constellation.git
[submodule "dependencies/quorum"]
	path = dependencies/quorum
	url = https://github.com/jpmorganchase/quorum.git
	branch = geth1.7.0
