[submodule "dependencies/constellation"]
	path = dependencies/constellation
	url = https://github.com/jpmorganchase/constellation.git
[submodule "dependencies/quorum"]
	path = dependencies/quorum
	url = https://github.com/jpmorganchase/quorum.git
[submodule "dependencies/go/src/github.com/istanbul-tools"]
	path = dependencies/go/src/github.com/istanbul-tools
	url = https://github.com/cj285/istanbul-tools
